<div class="container">
	<h1 class="text-center">Cryptocurrencies</h1>

	<% cryptoDataArr.forEach(function(crypto) { %>
	    <div class="well">
	    	<img src="<%= baseImageURL+crypto.ImageUrl %>" class="cryptoImg">
	    	<h4><%= crypto.FullName %></h4>
	    	<form method="POST" action="/board">
	    		<input hidden type="text" name="name" value="<%= crypto.FullName %>">
	    		<button class="btn btn-primary" type="submit">Add to Board</button>
	    	</form>
	    </div>
    <% }); %>
</div>