<h2 class="text-center">Boards</h2>
<form method="POST" action="/boards">
	<span><input name="title" type="text" class="form-control" required><input class="btn btn-primary" type="submit" value="Create Board"></span>
</form>
<% if(boards.length <= 0){ %>
	<h4 class="text-center">1) Create a board to get started!</h4>
	<h4 class="text-center">2) Pin cryptocurrencies of your choosing.</h4>
<% } else { %>
	<% boards.forEach(function(item){ %>
		<div></div>
		<h5>
			<a href="/boards/<%= item.id %>">
				<%= item.title %>
			</a>
		</h5>
		<a href="/boards/<%= item.id %>" class="btn btn-danger delete-link">
			Delete Board
		</a>
	<% }); %>
<% } %>